{{ define "main" }}
{{ $cv := .Site.Data.cv }}
{{ $education := .Site.Data.education }}
{{ $experience := .Site.Data.experience }}
{{ $voluntary := .Site.Data.voluntary }}
{{ $interests := .Site.Data.interests }}
{{ $references := .Site.Data.references }}
{{ $skills := .Site.Data.skills }}

<div class="container header-row">
<section id="header">
  <h1 id="header__name">
    <span>{{ $cv.name }}</span>
  </h1>
  <h2 id="header__profession">{{ $cv.profession }}</h2>
</section>

<section id="contact">
  <div class="grid-contact">
    <div class="contact-item web">
      <i class="fa fa-globe"></i>
      <a href="{{ $cv.website }}">{{ $cv.website }}</a>
    </div>
    <div class="contact-item mail">
      <i class="fa fa-envelope"></i>
      <a href="mailto:{{ $cv.email }}">{{ $cv.email }}</a>
    </div>
    <div class="contact-item phone">
      <i class="fa fa-mobile"></i>
      <span>{{ $cv.phone }}</span>
    </div>
    <div class="contact-item twitter">
      <i class="fa-brands fa-twitter"></i>
      <a href="{{ $cv.twitter_url }}">{{ $cv.twitter }}</a>
    </div>
  </div>
</section>
</div>

<section id="abstract">
  <p>{{ $cv.abstract | safeHTML }}</p>
</section>

<section id="education">
  <h3><span><i class="fa fa-book"></i> Education</span></h3>
  <div class="grid-container">
    {{ range $education }}
    <div class="item-row">
      <div class="item-column time-column period">{{ .period }}</div>
      <div class="item-column details-column school">
        {{ .institution }}
        <aside class="school-details">
          {{ .degree }} ∅ {{ .grade }}
          {{ if .thesis }}
          <br>
          Thesis ({{ .thesis.grade }}):
          <a href="{{ .thesis.url | relURL }}">»{{ .thesis.title }}«</a>
          <br>
          {{ .thesis.description | safeHTML }}
          {{ end }}
        </aside>
      </div>
    </div>
    {{ end }}
  </div>
</section>

<section id="experience">
  <h3><span><i class="fa fa-clock"></i> Experience</span></h3>
  <div class="grid-container">
    {{ range $experience }}
    <div class="item-row" id="{{ .id }}">
      <div class="item-column time-column company">
        {{ .company }}
        {{ if .company_type }}
        <small class="company-details">{{ .company_type }}</small>
        {{ end }}
        {{ if .company_url }}
        <small class="company-details"><a href="{{ .company_url }}">{{ .company_url }}</a></small>
        {{ end }}
        {{ if .company_description }}
        <small class="company-details">{{ .company_description }}</small>
        {{ end }}
      </div>
      <div class="item-column details-column employment">
        {{ range .roles }}
        <li class="chapter">
          <div class="title">{{ .title }}</div>
          <aside class="period">{{ .period }}</aside>
          {{ if .description }}
          <aside class="employment-details">{{ .description | safeHTML }}</aside>
          {{ end }}
        </li>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>

<section id="voluntary-experience">
  <h3><span><i class="fa fa-users"></i> Voluntary experience</span></h3>
  <div class="grid-container">
    {{ range $voluntary }}
    <div class="item-row">
      <div class="item-column time-column organisation">
        {{ .organisation }}
        {{ if .organisation_details }}
        <small class="organisation-details">{{ .organisation_details }}</small>
        {{ end }}
        {{ if .period }}
        <aside class="period">{{ .period }}</aside>
        {{ end }}
      </div>
      <div class="item-column details-column activity">
        {{ .role }}
        {{ if .talks }}
        <aside class="activity-details">
          <ul>
            {{ range .talks }}
            <li>{{ if .url }}<a href="{{ .url }}">{{ .title }}</a>{{ else }}{{ .title }}{{ end }}</li>
            {{ end }}
          </ul>
        </aside>
        {{ else if .description }}
        <aside class="activity-details">{{ .description | safeHTML }}</aside>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>

<section id="interests">
  <h3><span><i class="fa fa-flask"></i> Interests</span></h3>

  <div id="lists-wrapper">
    <ul>
      {{ range $interests.interests }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>

    <ul>
      {{ range $interests.other_interests }}
      <li>{{ . }}</li>
      {{ end }}
    </ul>
  </div>

  <p>
    See <a href="{{ $interests.personal_projects_url }}">{{ $interests.personal_projects_url }}</a>
    for personal projects.
  </p>
</section>

<section id="skills">
  <h3><span><i class="fa fa-code"></i> Skills</span></h3>
  <div class="skills-grid">
    <div class="skill-group">
      <h4>Languages</h4>
      <ul class="language-list">
        {{ range $skills.languages }}
        <li class="language-item">
          <span>{{ .name }}</span>
          <span class="language-level" title="{{ .level }}">
            {{ if eq .level "Expert" }}
              <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i>
            {{ else if eq .level "Advanced" }}
              <i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="far fa-circle"></i>
            {{ else }}
              <i class="fas fa-circle"></i><i class="far fa-circle"></i><i class="far fa-circle"></i>
            {{ end }}
          </span>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="skill-group">
      <h4>Technologies</h4>
      <ul>
        {{ range $skills.technologies }}
        <li>{{ .name }}</li>
        {{ end }}
      </ul>
    </div>
    <div class="skill-group">
      <h4>Methodologies</h4>
      <ul>
        {{ range $skills.methodologies }}
        <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>

<section id="references">
  <h3><span><i class="fa fa-comments"></i> References</span></h3>
  {{ $references.text }}
</section>

<section id="footer">
  This CV was hand-crafted by {{ .Site.Params.author }} using <a href='https://gohugo.io/'>Hugo</a>, <a href='https://sass-lang.com/'>SCSS with Hugo Pipes</a> and <a href='https://fontawesome.com/'>Font Awesome</a>. The fonts are from <a href='https://fonts.google.com/'>Google Fonts</a>. It is hosted on
  <i class="fa fa-github"></i> <a href='https://pages.github.com/'>GitHub Pages</a>. The color scheme is derived from <a href='http://ethanschoonover.com/solarized'>solarized</a>.
  <br>
  Download the <a href="{{ "daniel-kirsch-cv.pdf" | relURL }}">PDF</a>.
</section>
{{ end }}